<% include ./partials/headNotUser %>
    
<form action = "/login" method = "POST">
    <div>
        <input type = "text" name = "loginUN" placeholder = "username" required>
    </div>
    <div>
        <input type = "password"  name = "loginPW" placeholder = "password" required>   
    </div>
    <div>
        <button type = "submit">Submit</button>  
    </div>
    
</form>


<% include ./partials/footer %>